#navigation-outer {
    position: relative;
    height: 80px;
    background-color: black;
    color: white;
    font-variant: small-caps;
}

#navigation-inner {
    position: absolute;
    top: 50%;

    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

#most-reecent > .compact {
    font-size: 1.25em;
}

#most-recent > .full {
    font-size: 1.5em;
    display: none;
}

@media (min-width: 768px) {
    #most-recent > .full {
        display: inline-block;
    }

    #most-recent > .compact {
        display: none;
    }
}

#most-recent > .date {
    text-align: right;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 0px 10px 0px 0px;
    border-right: 1px silver solid;
}

#most-recent > .author {
    text-align: left;
    font-size: 1em;
    letter-spacing: 2px;
    padding-left: 10px;
}
