body {
    font-size: 12px;
    background-color: #e6e6ff;
}

#header {
    position: relative;
    height: 50vh;
    background-image: url('./hero.jpg');
    background-repeat: no-repeat;
    background-position: 100% 6%;
}

@media (min-width: 768px) {
    #header {
        height: 75vh;
    }
}

@media (min-width: 2048px) {
    #header {
        background-size: cover;
    }
}

#header h1 {
    position: absolute;
    top: 50%;

    /** CSS3 EXPERIMENTAL { **/
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    /** CSS3 EXPERIMENTAL } **/

    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 20px;
    font-size: 5em;
    color: white;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .8), -2px -2px 5px #000000;
}

#a {
    background-image: url('./images/h_city.jpg');
}

#b {
    background-image: url('./images/h_temple_hdr.jpg');
}

#c {
    background-image: url('./images/h_cow.jpg');
}

#d {
    background-image: url('./images/h_peacock.jpg');
}
