@import '_shared';

#header {
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: #fff;
  text-align: center;
  padding: 3px 0 0 0;
  @include for-desktop-up {
    background: linear-gradient(90deg, #F0F0F0, #fff 20%, #fff 80%, #F0F0F0);
    padding: 10px 0px 10px 0px;
  }

  h1 {
    display: none;
    margin: 0px;
    padding: 0px;
    font-size: 2em;
    font-weight: normal;
    @include for-desktop-up {
      display: block;
      font-size: 3em;
    }
  }

  #logo {
    display: inline-block;
    width: 50px;
    margin: 0px;
    padding: 0px;
    @include for-desktop-up {
      width: 150px;
    }
  }

  .nav-button {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    padding: 5px;

    &:active {
      text-decoration: none;
    }
  }

  .logo-container {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    vertical-align: middle;
    a {
      color: #333333;

      &:hover {
        color: #181860;
      }
    }
  }

  .nav-container {
    margin: 0 auto 0 5px;
    text-align: center;   
    display: inline-block; 
    vertical-align: middle;
    font-weight: bold;
    @include for-desktop-up {
      margin: 10px auto 0px 10px;
      font-weight: normal;
    }
  }
}

#footer {
  text-align: center;
  margin-bottom: 15px;
}