#header {
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 10px 0px 10px 0px;
  background-color: #fff;
  text-align: center;
  @media (min-width: 690px) {
    background: linear-gradient(90deg, #F0F0F0, #fff 20%, #fff 80%, #F0F0F0);
  }

  h1 {
    margin: 0px;
    padding: 0px;
    font-size: 2em;
    @media (min-width: 690px) {
      font-size: 3em;
    }
  }

  #logo {
    width: 150px;
    margin: 0px;
    padding: 0px;
  }

  .nav-button {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    padding: 5px;

    &:active {
      text-decoration: none;
    }
  }

  .logo-container {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    vertical-align: middle;
    a {
      color: #333333;

      &:hover {
        color: #181860;
      }
    }
  }

  .nav-container {
    margin: 10px auto 0px auto;
    text-align: center;   
    display: inline-block; 
    vertical-align: middle;

    @media (min-width: 690px) {
      margin-left: 10px;
    }
  }
}

#footer {
  text-align: center;
  margin-bottom: 15px;
}