@import '_grow-shadow';
@import '_shared';

input, select {
  border: 1px #ccc solid;
  outline: none;
  background: white;

  &[type=submit] {
    background: #eee;
  }
}

a {
  color: #2929ad;

  &:hover, &:active, &:visited, &:focus {
    text-decoration: none;
  }

  &:active, &:visited, &:focus {
    color: #2929ad;
  }

  &:hover {
    color: #181860;
  }
}

body {
  font-size: 18px;
  font-family: Georgia, Arial;
  background: #F0F0F0;

  h1, h2, h3, h4 {
    font-family: 'Lato', Arial;
  }

  .bold, .b {
    font-weight: bold;
  }

  .italicized, .i {
    font-style: italic;
  }

  #main {
    padding-top: 0;
    padding-bottom: 20px;
    margin: auto;
  }

  .article {
    @include inset;
    position: relative;

    h3 {
      border-bottom: 1px #ccc solid;
    }

    .title {
      font-size: 2em;
    }

    .caption {
      @include caption;
    }

    .subtitle {
      @include subtitle;
    }

    .read-more, .date-published {
      display: inline-block;
    }

    .read-more {
      a:first-child {
        padding-right: 5px;
        margin-right: 5px;
      }
    }

    &:not(.compact) {
      .date-published {
        float: right;
      }

      .title {
        margin-top: 30px;
      }
    }

    &.compact {
      .date-published {
        margin: 0px;
        padding: 0px 0px 20px 0px;
      }
      .title {
        margin-bottom: 5px;
        margin-top: 10px;
      }
    }

    img {
      display: block;
      margin: auto;
      max-height: 200px;
      max-width: 100%;
    }

    #latest-article-badge {
      @include box-shadow(2px, 2px, 1px, rgba(0, 0, 0, 0.2));

      position: absolute;
      display: inline-block;
      line-height: 1.5em;
      font-size: 1.5em;
      width: 200px;
      background: white;
      padding: 5px;
      top: -20px;
      text-align: center;
      border: 1px black solid;
    }
  }

  .blockquote {
    padding: 20px;
    border-left: 5px black solid;
    blockquote {
      padding: 0px;
      margin: 0px;
      .quote-author {
        padding: 15px 0px 0px 15px;
        font-style: italic;
      }
    }
  }

  #team {
    text-align: center;
    img {
      height: 200px;
    }
    .bio {
      text-align: left;
    }
    .article {
      margin: 10px 5px;
    }
  }

  #solo-article-header {
    margin: 0px 30px;
    text-align: center;
    font-weight: bold;

    p {
      font-family: Georgia;
    }

    h1 {
      margin: 15px 0;
      font-size: 1.78em;
    }

    h2 {
      margin: 5px 0;
      font-size: 1.33em;
    }

    h3 {
      margin: 0 0 15px 0;
      display: inline-block;
      font-size: 1em;
      &:first-of-type {
        padding-right: 5px;
      }
    }

    .subtitle {
      @include subtitle;
    }
  }

  #solo-article {
    font-size: 21px;
    line-height: 33px;
    margin: 10px 15px;
    position: relative;

    img {
      width: 100%;
    }

    .caption {
      @include caption;
    }

    hr {
      border-color: #aaa;
    }

    .loader {
      display: block;
      margin: 30px auto;
    }

    #comments-quicklink {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    h2 {
      font-size: 1.33em;
    }

    ul {
      li {
        margin-bottom: 15px;
      }
    }
  }

  #mailingform {
    table {
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
    }

    td {
      padding: 5px;
    }

    input {
      width: 100%;
      padding: 3px;
      height: 30px;
    }

    svg {
      display: block;
      margin: auto;
    }

    .err {
      color: red;
      font-weight: bold;
      text-align: center;
    }
  }

  .support-connect {
    width: 100%;
    td {
      width: 25%;
      padding: 15px;
    }

    img {
      @include grow-shadow;
      max-height: 130px;
    }
  }

  #patreon-logo {
    @include grow-shadow;
    display: block;
    margin: 15px auto;
  }

  #article-list {
    table {
      width: 100%;
      text-align: left;

      td, th {
        padding: 5px;
        width: 50%;
      }

      input, select {
        width: 100%;
        height: 30px;
        padding: 5px;
      }

      select {
        -webkit-appearance: menulist-button;
      }
    }
  }

  #article-comments {
    @include inset;
  }
}

