.heroheadline--outer .heroheadline--inner .title--container {
  font-size: 2em;
  margin: 0;
  padding: 0;
  height: 90vh;
  min-height: 400px;
  background-size: cover;
  background-position: top center; }
  @media only screen and (min-width: 690px) {
    .heroheadline--outer .heroheadline--inner .title--container {
      height: 400px;
      font-size: 3em; } }
  .heroheadline--outer .heroheadline--inner .title--container .title--text {
    font-family: 'Playfair Display', Roboto, Arial;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold; }
    @media only screen and (min-width: 690px) {
      .heroheadline--outer .heroheadline--inner .title--container .title--text {
        max-width: 690px;
        margin: 0 auto; } }
    .heroheadline--outer .heroheadline--inner .title--container .title--text .title--text-author {
      font-size: 0.5em;
      color: white;
      font-weight: normal;
      text-transform: capitalize;
      padding: 0 15px 5px 15px; }
    .heroheadline--outer .heroheadline--inner .title--container .title--text a {
      color: white;
      text-decoration: underline; }
      .heroheadline--outer .heroheadline--inner .title--container .title--text a:hover {
        text-decoration: none; }
