.heroheadline--outer .heroheadline--inner .title--container {
  font-size: 2em;
  margin: 0;
  padding: 0;
  height: 90vh;
  min-height: 400px;
  background-size: cover;
  background-position: bottom left; }
  @media only screen and (min-width: 690px) {
    .heroheadline--outer .heroheadline--inner .title--container {
      height: 400px;
      font-size: 3em; } }
  .heroheadline--outer .heroheadline--inner .title--container .title--text {
    text-align: left;
    padding: 0 0 0 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 90%; }
    @media only screen and (min-width: 690px) {
      .heroheadline--outer .heroheadline--inner .title--container .title--text {
        max-width: 690px;
        margin: 0 auto; } }
    .heroheadline--outer .heroheadline--inner .title--container .title--text .title--text-author {
      font-size: 0.5em;
      text-align: right;
      color: gray;
      font-weight: bold; }
    .heroheadline--outer .heroheadline--inner .title--container .title--text a {
      font-family: 'Playfair Display', Roboto, Arial;
      color: black;
      text-decoration: underline; }
      .heroheadline--outer .heroheadline--inner .title--container .title--text a:hover {
        text-decoration: none; }
