body {
  margin: auto;
  font-size: 10px;
  background-color: white;
  color: black;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  body {
    font-size: 12px;
  }
}

h1, h2 {
  font-family: 'Montserrat', Calibri, Arial;
}

div, p, h3, li {
  font-family: 'Lora', Georgia, Cambria;
}

h2 {
    padding: 0px;
    margin: 0px auto 0px auto;
    letter-spacing: 5px;
    font-size: 1.5em;
}

/** SPECIAL CASE BREAKPOINT **/
@media (min-width: 360px) {
  h2 {
    font-size: 2.5em;
  }
}

h3 {
    width: 100%;
    padding: 20px;
    margin: 0px auto 0px auto;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 1.05em;
    text-align: center;
}

a, a:hover, a:active, a:visited, a:focus, a:link {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

/* parent divs */
#main, #engage {
  max-width: 1800px;
}

#engage {
  margin-top: 50px;
}

@media (min-width: 768px) {
  #engage {
  }
}

/* helper classes */
.v-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hoverable { }
