#article {
  max-width: 800px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/** TITLE **/
#article > .title {
  text-align: center;
  margin-bottom: 20px;
}

/** ARTICLE INFO **/
#article > .info {
  margin-bottom: 20px;
  font-weight: bold;
}

#article > .info > .date {
  padding: 0px;
  width: 50%;
  display: inline-block;
}

#article > .info > .author {
  padding: 0px;
  width: 50%;
  display: inline-block;
}

/** SUBTITLE **/
#article > .subtitle {
  text-align: center;
  margin-bottom: 20px;
}

/** GENERAL ELEMENTS **/
#article > h2 {
  margin-bottom: 5px;
}

#article ul, #article ol {
  padding-left: 30px;
  margin-bottom: 2em;
  margin-top: 0px;
}

#article li {
  font-size: 1.35em;
  line-height: 1.75em;
  margin-bottom: 10px;
}

#article > p {
  margin: 0px 0px 2em 0px;
  padding: 0px;
  font-size: 1.35em;
  line-height: 1.75em;
}

#article > img {
  width: 100%;
}

#article .caption {
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#article blockquote {
  font-size: 1.5em;
  line-height: 2em;
  margin: 0px 5px 2em 15px;
  font-style: italic;
}

/** FONT FORMATTING **/
#article span.italicized, #article span.i {
  font-style: italic;
}

#article span.bold, #article span.b {
  font-weight: bold;
}

#article span.underline {
  text-decoration: underline;
}

#article .top-margin {
  margin-top: 2em;
}

/** FACT POPUPS **/
.fact-popup {
  position: relative;
  display: inline-block;
  background: gray;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  vertical-align: top;
  text-align: center;
  font-size: 0px;
}

.fact-popup.open {
  background: green;
}

.fact-popup.open > span {
  position: absolute;
  bottom: 20px;
  background: white;
  border: 1px black solid;
  padding: 3px;
  width: 200px;
  font-size: 12px;
  line-height: 16px;
}

