#article {
  max-width: 748px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2em;
}

#article > h2 {
  text-align: center;
}

#article > h3 {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0px;
  font-size: .75em;
  text-align: center;
}

#article > h3 > .date {
  padding: 0px 10px 0px 0px;
  border-right: 1px solid black;
}

#article > h3 > .author {
  padding: 0px 0px 0px 10px;
}

#article > p {
  font-size: 1em;
  margin: 0px 0px 2em 0px;
  padding: 0px;
  font-size: .75em;
  line-height: 1.75em;
}

#article > .subtitle {
  border-bottom: 1px black dashed;
  padding-bottom: 40px;
}
