.card-frame {
    padding: 0px;
    margin: 0px;
}

@media (min-width: 768px) {
    .card-frame {
        z-index: 10;
    }

    .card-frame:nth-of-type(even) {
        z-index: 9;
    }

    .card-frame:nth-of-type(even) > .card {
        margin-left: 25px;
        margin-right: 50px;
    }

    .card-frame:nth-of-type(odd) > .card {
        margin-left: 50px;
        margin-right: 25px;
    }
}

.card {
    z-index: 10;
    position: relative;
    height: calc(50vh - 15px);
    min-height: 300px;
    color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    margin: 50px 0px 0px 0px;
    padding: 0px
    border-radius: 0px;
}

@media (min-width: 768px) {
    .card {
        border-radius: 15px;
    }
}

.card:after {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    content: "";
    opacity: 1.0;

    -webkit-box-shadow: inset 0px 0px 75px 15px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: inset 0px 0px 75px 15px rgba(0, 0, 0, 0.8);
            box-shadow: inset 0px 0px 75px 15px rgba(0, 0, 0, 0.8);
}

.card.hoverable:after {
   -webkit-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
           transition: opacity .25s ease-in-out;
}

.card.hoverable:hover:after {
    opacity: 0;
}

.card-contents {
    position: relative;
    top: calc(50% - 140px);
    left: 0px;
    height: 280px;
    width: 100%;
    margin: 0px;
    padding: 50px 10px 50px 10px;
    background: rgba(0, 0, 0, .6);
}

@media (min-width: 360px) {
    .card-contents {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.card-contents h2 {
    padding: 0px;
    margin: 0px auto 30px auto;
    letter-spacing: 5px;
    font-size: 3.5em;
    font-weight: bold;
    border-radius: 15px;
    color: white;
}

.card-contents h3 {
    max-width: 320px;
    width: 100%;
    padding: 20px;
    margin: 0px auto 0px auto;
    letter-spacing: 2px;
    font-variant: small-caps;
    font-size: 1.25em;
    color: white;
}

.card-contents > div {
  width: calc(100% - 40px);
}

#a {
  background-image: url('../images/v_hallway.jpg');
}

#b {
  background-image: url('../images/v_monkeytree.jpg');
}

#c {
  background-image: url('../images/v_crab.jpg');
}

#d {
  background-image: url('../images/v_monkey.jpg');
}

