.card-frame {
    padding: 0px;
    margin: 0px;
}

#main .row:first-child .card, #main .row:last-child .card-frame:first-child .card {
    border-bottom: 2px black solid;
}

@media (min-width: 768px) {
    #main .row:last-child .card-frame:first-child .card {
        border-bottom: 0px;
    }

    .card-frame:nth-of-type(even) .card {
        border-left: 1px black solid;
    }

    .card-frame:nth-of-type(odd) .card {
        border-right: 1px black solid;
    }
}

.card {
    position: relative;
    min-height: 50vw;
    max-height: 100vw;
    height: 25vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    border-radius: 0px;
}

@media (min-width: 768px) {
    .card {
        min-height: 150px;
        max-height: 50vh;
        height: 50vw;
    }
}

.card h2 {
    color: white;
}

.card h3 {
    color: white;
}

.card:after {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    content: "";
    opacity: 1.0;

    -webkit-box-shadow: inset 0px 0px 75px 15px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: inset 0px 0px 75px 15px rgba(0, 0, 0, 0.8);
            box-shadow: inset 0px 0px 75px 15px rgba(0, 0, 0, 0.8);
}

.card.hoverable:after {
   -webkit-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
           transition: opacity .25s ease-in-out;
}

.card.hoverable:hover:after {
    opacity: 0;
}

.card-contents {
    position: relative;
    top: calc(50% - 75px);
    left: 0px;
    height: 150px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, .7);
}

.card-contents > div {
  width: 100%;
}

#a {
  background-image: url('../images/v_hallway-min.jpg');
}

#b {
  background-image: url('../images/v_monkeytree-min.jpg');
}

#c {
  background-image: url('../images/v_crab.jpg');
}

#d {
  background-image: url('../images/v_monkey-min.jpg');
}

