.card-frame {
    padding: 0px;
    margin: 0px;
}

@media (min-width: 768px) {
    .card-frame {
        z-index: 10;
    }

    .card-frame:nth-of-type(even) {
        z-index: 9;
    }

    .card-frame:nth-of-type(even) > .card {
        margin-left: 5px;
    }

    .card-frame:nth-of-type(odd) > .card {
        margin-right: 5px;
    }
}

.card {
    z-index: 10;
    position: relative;
    height: calc(50vh - 15px);
    min-height: 300px;
    color: white;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
}

.card:after {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    content: "";
    opacity: 1.0;

    -webkit-box-shadow: inset 0px 0px 75px 15px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: inset 0px 0px 75px 15px rgba(0, 0, 0, 0.8);
            box-shadow: inset 0px 0px 75px 15px rgba(0, 0, 0, 0.8);

   -webkit-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
           transition: opacity .25s ease-in-out;
}

.card:hover:after {
    opacity: 0;
}

.card-contents {
    position: absolute;
    top: 50%;
    left: 5%;
    min-width: 320px;
    width: 90%;
    padding: 50px 30px 50px 30px;
    background: rgba(0, 0, 0, .4);

    border-radius: 15px;

    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

.card-contents > h2 {
    padding: 0px;
    margin: 0px auto 30px auto;
    letter-spacing: 5px;
    font-size: 4em;
    font-weight: bold;
    background: rgba(255, 255, 255, .7);
    border-radius: 15px;
    color: black;
}

.card-contents > h3 {
    max-width: 320px;
    width: 100%;
    padding: 20px;
    margin: 0px auto 0px auto;
    letter-spacing: 2px;
    font-variant: small-caps;
    font-size: 1.25em;
    color: white;
}

#a {
  background-image: url('../images/h_city.jpg');
}

    #a > .card-contents {
        border-left: 5px solid black;
        border-top: 5px solid black;
    }

#b {
  background-image: url('../images/s_treehouse.jpg');
}

    #b > .card-contents {
        border-right: 5px solid black;
        border-top: 5px solid black;
    }

#c {
  background-image: url('../images/h_cow.jpg');
}

    #c > .card-contents {
        border-bottom: 5px solid black;
        border-left: 5px solid black;
    }

#d {
  background-image: url('../images/h_peacock.jpg');
}

    #d > .card-contents {
        border-bottom: 5px solid black;
        border-right: 5px solid black;
    }
