.frontpage-post {
  text-align: center;
  margin-bottom: 30px;
}

#most-recent.frontpage-post {
  background: url("../images/excerpt.jpg");
  background-size: cover;
}

#featured.frontpage-post {
  background: url("../images/excerpt.jpg");
  background-size: cover;
}

#random.frontpage-post {
  background: url("../images/excerpt.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .frontpage-post {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-left: 5px white solid;
    border-right: 5px white solid;
  }
}

.frontpage-post > .featured-post-label {
  width: auto;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 18px;
  border-bottom: 1px black solid;
  font-style: italic;
}

.frontpage-post > h2 {
  max-width: 600px;
}

.frontpage-post .date {
  padding: 0px 10px 0px 0px;
  border-right: 1px solid black;
}

.frontpage-post .author {
  padding: 0px 0px 0px 10px;
}