#engage {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.frontpage-post {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  height: 300px;
  display: table;
  color: white;
}

.frontpage-post a {
  color: white;
}

.excerpt {
  position: relative;
  display: none;
  height: 500px;
  overflow-y: hidden;
  font-size: 1.35em;
  line-height: 1.5em;
}

.excerpt::first-letter {
  font-size: 2em;
  font-style: italic;
}

.excerpt p {
  margin: 0px 0px 15px 0px;
}

.fp-col {
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .fp-col {
  padding-left: 15px;
  padding-right: 0px;
  }

  .frontpage-post {
    height: 500px;
  }

  .excerpt {
    display: block;
  }
}

#power-of-questions {
  background: url('../images/s_treehouse.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#implications-of-wanderlust {
  background: url('../images/hyderabad.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#ways-people-influence-decisions {
  background: url('../images/articles/influence-decisions/drumpf.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hear-more-about-paris {
  background: url('../images/articles/syria-paris/eiffel.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#win-an-argument {
  background: url('../images/articles/win-an-argument/canthearyou.gif');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#chapter1 {
  background: url('../images/travel/chapter1/hero.jpeg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#chapter2 {
  background: url('../images/travel/chapter2/hero.jpeg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#chapter3 {
  background: url('../images/travel/chapter3/hero.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.frontpage-post > .title {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.frontpage-post > .title > h2 {
  width: 100%;
  max-width: 600px;
}

.frontpage-post > .feature-type {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  text-align: center;
  display: inline-block;
  font-style: italic;
}

.frontpage-post > h3:last-of-type {
  position: absolute;
  left: 0px;
  bottom: 10px;
}

.frontpage-post > h3 > .date {
  padding: 0px 10px 0px 0px;
  border-right: 1px solid white;
}

.frontpage-post > h3 > .author {
  padding: 0px 0px 0px 10px;
}

.frontpage-post > .title {
  background: rgba(0, 0, 0, 0.6);
}