#header {
  position: relative;
  height: auto;
  text-align: center;
  padding: 20px;
}

#header h1 {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
  padding: 5px;
  font-size: 2.5em;
  letter-spacing: 5px;
}

#header > img {
  width: 150px;
  height: 145px;
  margin: 5px auto 0px auto;
  display: block;
}

#header.textless > img {
  width: 75px;
  height: 70px;
}

#header.textless {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  #header:not(.textless) > img {
    display: inline-block;
    margin-right: 50px;
    margin-left: -200px;
  }
}

#footer {
  text-align: center;
  font-size: 1em;
  padding: 10px;
}