#mailing-list {
  position: relative;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

#mailing-list h2 {
  margin-bottom: 15px;
}

#mailing-list .mc-field-group {
  margin-bottom: 10px;
}

#mailing-list label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
}

#mailing-list input {
  width: 150px;
  border: 1px gray solid;
}

#mailing-list input[type='submit'] {
  width: 262px;
}