#most-recent {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  font-variant: small-caps;
  border-top: 3px white solid;
  border-bottom: 5px white solid;
  text-align: center;
}

    #most-recent .date {
      padding: 0px 10px 0px 0px;
      border-right: 1px solid white;
    }

    #most-recent .author {
      padding: 0px 0px 0px 10px;
    }