#most-recent {
  text-align: center;
  background: url("../images/hero.jpg");
  background-position: left top;
  background-attachment: fixed;
  padding-top: 70px;
}

@media (min-width: 768px) {
  #most-recent {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 370px;
  }
}
    #most-recent h3 {
    }

    #most-recent h2 {
      max-width: 600px;
    }

    #most-recent .date {
      padding: 0px 10px 0px 0px;
      border-right: 1px solid black;
    }

    #most-recent .author {
      padding: 0px 0px 0px 10px;
    }