#most-recent {
  padding: 20px 10px 20px 10px;
  font-variant: small-caps;
  text-align: center;
}
    #most-recent h3 {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    #most-recent h2 {
      max-width: 600px;
    }

    #most-recent .date {
      padding: 0px 10px 0px 0px;
      border-right: 1px solid black;
    }

    #most-recent .author {
      padding: 0px 0px 0px 10px;
    }