#navigation {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  font-variant: small-caps;
  border-bottom: 2px white solid;
}

/** most-recent **/
#navigation #most-recent {
  text-align: left;
}

@media (min-width: 768px) {
  #navigation #most-recent {
    text-align: center;
  }
}

  #navigation #most-recent > .latest {
    font-size: 1em;
    line-height: 20px;
    height: 20px;
    margin-top: 5px;
    letter-spacing: 1px;
  }

  #navigation #most-recent > .title {
    font-size: 1.5em;
    line-height: 30px;
    height: 30px;
    letter-spacing: 1px;
    overflow: hidden;
  }

  #navigation #most-recent > .info {
    font-size: 1em;
    line-height: 20px;
    height: 20px;
    letter-spacing: 1px;
  }

    #navigation #most-recent > .info > .date {
      padding: 0px 10px 0px 0px;
      border-right: 1px solid white;
    }

    #navigation #most-recent > .info > .author {
      padding: 0px 0px 0px 10px;
    }

/** sharing **/
#navigation #sharing {
  padding: 10px 15px 10px 0px;
  height: 80px;
  text-align: center;
}

  #navigation #sharing > button {
    height: 50%;
    width: 100%;
    margin-top: 15px;
    padding: 5px 0px 5px 0px;
    background-color: black;
    border: 1px white solid;
  }

  #navigation #sharing > button:active,
  #navigation #sharing > button:focus {
    outline: none;
    border: 1px white solid;
  }

  #navigation #sharing > ul {
    display: none;
  }

  @media (min-width: 768px) {
    #navigation #sharing > button {
      display: none;
    }

    #navigation #sharing > ul {
      display: block;
      list-style: none;
      padding: 0px;
      margin: 0px;
    }

    #navigation #sharing > ul > li {
      display: inline-block;
      width: 20%;
      height: 60px;
      line-height: 60px;
      padding: 0px;
      margin: 0px;
    }
  }

  #navigation #sharing > button::-moz-focus-inner {
    outline: none;
    border: 3px white inset;
  }

  #navigation #sharing > button:hover {
    outline: none;
    border: 3px white inset;
  }
