#navigation {
  height: 80px;
  background-color: black;
  color: white;
  font-variant: small-caps;
}

#navigation #most-recent {
  text-align: left;
}

@media (min-width: 768px) {
  #navigation #most-recent {
    text-align: center;
  }
}

  #navigation #most-recent > .title {
    font-size: 1.5em;
    margin-top: 10px;
    line-height: 30px;
    height: 30px;
    letter-spacing: 1px;
  }

    #navigation #most-recent > .title > .compact {
      display: inline-block;
    }

    #navigation #most-recent > .title > .full {
      display: none;
    }

    @media (min-width: 768px) {
      #navigation #most-recent > .title > .compact {
        display: none;
      }

      #navigation #most-recent > .title > .full {
        display: inline-block;
      }
    }

  #navigation #most-recent > .info {
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 30px;
    height: 30px;
  }

    #navigation #most-recent > .info > .date {
      padding: 0px 10px 0px 0px;
      border-right: 1px solid white;
    }

    #navigation #most-recent > .info > .author {
      padding: 0px 0px 0px 10px;
    }
