#main, #most-recent, #mailing-list {
    display: none;

    -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn 2s; /* Firefox < 16 */
        -ms-animation: fadeIn 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadeIn 2s;
}

#preload {
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preload.done {
    -webkit-animation: fadeOut .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeOut .5s; /* Firefox < 16 */
        -ms-animation: fadeOut .5s; /* Internet Explorer */
         -o-animation: fadeOut .5s; /* Opera < 12.1 */
            animation: fadeOut .5s;
}

#preload > p:first-child {
    display: inline-block;
    border: 1px white solid;
    border-image: linear-gradient(90deg, blue, red, blue);
    border-image-slice: 1;
    padding: 10px;
    -webkit-animation:  rotateClockwise 2s linear infinite;
    -moz-animation:     rotateClockwise 2s linear infinite;
    -ms-animation:      rotateClockwise 2s linear infinite;
    -o-animation:       rotateClockwise 2s linear infinite;
    animation:          rotateClockwise 2s linear infinite;
}
