body {
  font-size: 10px;
  background-color: black;
}

@media (min-width: 768px) {
  body {
    font-size: 12px;
  }
}

#header {
  position: relative;
  height: calc(50vh);
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-bottom: 2px white solid;
}

h1, h2 {
  font-family: 'Montserrat', serif;
}

#header h1 {
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 5px;
  font-size: 6em;
  color: black;
  letter-spacing: 5px;
}

#header h1 > span {
  display: block;
  color: white;
}

@media (min-width: 768px) {
  #header h1 > span {
    display: inline-block;
  }
}

.v-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hoverable {
  /** helper class to be appended to a dom element for hover effects **/
}
