body {
  font-size: 10px;
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  body {
    font-size: 12px;
  }
}

h1, h2 {
  font-family: 'Montserrat', serif;
}

h2 {
    padding: 0px;
    margin: 0px auto 0px auto;
    letter-spacing: 5px;
    font-size: 3.5em;
    font-weight: bold;
}

h3 {
    max-width: 320px;
    width: 100%;
    padding: 20px;
    margin: 0px auto 0px auto;
    letter-spacing: 2px;
    font-variant: small-caps;
    font-size: 1.25em;
}

/* helper classes */
.v-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hoverable { }
