@import '../_shared';

.mini-articles-grid {
  margin: 0 10px;
  padding: 0 15px;

  h2 {
    font-weight: normal;
    text-align: center;
  }

  h4 {
    margin: 0;
    padding: 0;
  }

  .mini-article {
    color: black;
    margin: 20px 0;

    a {
      font-weight: normal;
    }

    .date-published {
      font-size: 0.75em;
      bottom: 0;
      font-style: italic;
    }

    img {
      max-width: 100%;
      max-height: 100px;
    }
  }
}
