@import '../_shared';

.mini-articles-grid {
  margin: 0 10px;
  padding: 0 15px;

  @include for-desktop-up {
    margin-top: 30px;
  }

  h2 {
    font-weight: normal;
    text-align: center;
  }

  h3 {
    margin: 0;
  }

  h4 {
    margin: 0;
    padding: 0;
  }

  .more-to-read {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
  }

  .new-banner {
    color: green;
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    position: absolute;
    top: -14px;
  }

  .mini-article {
    color: black;
    margin: 20px 0;

    a {
      font-weight: normal;
    }

    .date-published {
      font-size: 0.75em;
      bottom: 0;
      font-style: italic;
    }

    img {
      max-width: 100%;
      max-height: 100px;
    }
  }
}
